img{
  width: 600px;
  height: 400px;
}
#container{
  width: 600px;
  margin: 0 auto;
}
#check{
  text-align: center;
}
h1{
  font-size: 18px;
  text-align: left;
  background-color: #000;
  color: #fff;
  padding: 5px;
  margin-top: 0;
}
h2{
  font-size: 16px;
  color: #f00;
}
P{
  font-size: 20px;
  line-height: 2;
  font-weight: bold;
}
.bluetext{
  color: #00f;
}
.smalltext{
  font-size: 12px;
}