#container{
  width: 960px;
  margin: 0 auto;
  border: 1px solid;
  padding: 20px;
}
header{
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}
.green{
  color: rgb(18, 185, 107);
}
section{
  width: 384px;
  border: 1px solid #ccc;
  padding: 20px;
  float: left;
  margin: 0px 5px 20px;
}
aside{
  border: 1px solid #ccc;
  width: 220px;
  padding: 20px;
  float: left;
  margin: 0px 0px 20px;
  background-color: #eee3e3;
}
footer{
  border: 1px solid #ccc;
  clear: both;
  padding: 10px;
}